# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyc

# Pytest caches
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/
env/

